
# Core Data Science & Plotting
numpy
pandas
scikit-learn
matplotlib
seaborn
ipython

# Graph Libraries
torch
torch-geometric
igraph
networkx

# Hyperparameter Tuning & Visualization
optuna
umap-learn
